* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #640C0C;
    color: #FCF4EC;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    background: #CBA090;
    z-index: 1;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.nav-icons img {
    width: 25px;
    margin-left: 30px;
    cursor: pointer;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
}

.col-1, col-2 {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-2 {
    width: 60%;
    background: #FCF4EC;
    position: relative;
}

.col-1 {
    margin-left: 8%;
    margin-right: 20px;
    width: 40%;
}

.col-1 h1 {
    font-size: 74px;
    line-height: 100px;
    margin-bottom: 5px;
}

.col-1 h2 {
    font-size: 35px;
    margin-top: 60px;
    font-weight: 500;
    font-family: 'Oswald';
}

.esplora {
    display: inline-block;
    width: fit-content;
    padding: 18px 50px;
    background: #CBA090;
    border: none;
    margin: 0 30px 0 0;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.bottoneintro:hover {
    background: #e3d6c2;
    color: #640C0C;
    transition: 0.3s 0.3s;
}

.feature-img {
    width: 100%;
    text-align: center;
    position: relative;

}

.vuoto3 {
    height: 300px;
}

.cartoleria-img {
    width: 100%;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

.cartoleria-img img {
    max-width: 50%;
    border-radius: 15px;
}

.feature-img img {
    width: 60%;
}

.col-2 h2 {
    position: absolute;
    left: 10%;
    top: 17%;
    font-size: 130px;
    opacity: 0.9;
    color: #e3d6c2;
}

.vuoto1 {
    height: 100px;
}

.vuoto2 {
    height: 50px;
}

.featuretitle {
    position: relative;
    z-index: 0;
    font-family: 'Oswald';
}

.featuredesc {
    color: #640C0C;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 25px;
}

footer {
    text-align: left;
    padding: 30px 8%;
    background-color: #CBA090;
    color: white;
    font-family: 'Quicksand';
    font-size: 15px;
}

.titolointro2 {
    color: #e3d6c2;
}

.pintro {
    font-size: 20px;
    font-family: 'Quicksand';
    margin: 0 30px 0 0;
}

.pintro2 {
    font-family: 'Oswald';
}

.bottoneintro {
    font-size: 25px;
    font-family: 'Quicksand';
    font-weight: bold;
}

.menutenda {
    position: relative;
    display: inline-block;
}

.menutenda:hover .dropdown-content {
    display: block;
}

.dropbtn {
    font-size: 16px;
    border: none;
    background-color: transparent;
}
  
.dropdown-content {
    opacity: 0;
    transition: opacity 0.5s 0.6s;

    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 15px;
    font-family: 'Quicksand';
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
  
.menutenda:hover .dropdown-content {
    opacity: 1;
    transition: opacity 0.3s;
}
  
.menutenda:hover .dropbtn {
    background-color: transparent;
}

nav input[type=text] {
    float: right;
    padding: 10px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    border-radius: 15px;
    font-family: 'Quicksand';
}


/* CSS Slideshow */
.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

/* Avanti e indietro */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #640C0C;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 10px;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 10px;
}
  
/* Hover sui bottoni */
.prev:hover,
.next:hover {
    background-color: #640C0C;
    color: #FCF4EC;
}
  
/* Didascalia */
.text {
    color: #640C0C;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: 'Quicksand';
}
  
/* Numeretti */
.numbertext {
    color: #640C0C;
    font-size: 20px;
    font-family: 'Quicksand';
    padding: 8px 12px;
    position: absolute;
    top: 120px;
}

/* Indicatori */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #e3d6c2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active,
.dot:hover {
    background-color: #640C0C;
}
  
/* Animazione di dissolvenza */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
}
  
@keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
}
  
/* Per schermi piccoli */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px
    }
}

.col-2 img {
    margin: auto;
    width: 100%;
}
