* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #640C0C;
    color: #FCF4EC;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    background: #CBA090;
    z-index: 1;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.nav-icons img {
    width: 25px;
    margin-left: 30px;
    cursor: pointer;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
}

.col-1, col-2 {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-2 {
    background: #FCF4EC;
    padding-top: 8%;
    position: relative;
}

.col-1 {
    padding-left: 8%;
}

.col-1 h1 {
    font-size: 74px;
    line-height: 100px;
    margin-bottom: 5px;
}

.col-1 h2 {
    font-size: 35px;
    margin-top: 60px;
    font-weight: 500;
    font-family: 'Oswald';
}

.esplora {
    display: inline-block;
    width: fit-content;
    padding: 18px 50px;
    background: #CBA090;
    border: none;
    margin: 0 30px 0 0;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.bottoneintro:hover {
    background: #e3d6c2;
    color: #640C0C;
    transition: 0.3s 0.3s;
}

.feature-img {
    width: 100%;
    text-align: center;
    position: relative;

}

.vuoto3 {
    height: 80px;
}

.cartoleria-img {
    width: 100%;
    text-align: center;
    position: relative;
}

.cartoleria-img img {
    max-width: 50%;
    border-radius: 15px;
}

.feature-img img {
    width: 60%;
    transform: rotate(-20deg);
}

.col-2 h2 {
    position: absolute;
    left: 10%;
    top: 17%;
    font-size: 130px;
    opacity: 0.9;
    color: #e3d6c2;
}

.vuoto1 {
    height: 120px;
}

.vuoto2 {
    height: 50px;
}

.featuretitle {
    position: relative;
    z-index: 0;
    font-family: 'Oswald';
}

.featuredesc {
    color: #640C0C;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 25px;
}

footer {
    text-align: left;
    padding: 30px 8%;
    background-color: #CBA090;
    color: white;
    font-family: 'Quicksand';
    font-size: 15px;
}

.titolointro2 {
    color: #e3d6c2;
}

.pintro {
    font-size: 20px;
    font-family: 'Quicksand';
    margin: 0 30px 0 0;
}

.pintro2 {
    font-family: 'Oswald';
}

.bottoneintro {
    font-size: 25px;
    font-family: 'Quicksand';
    font-weight: bold;
}

.menutenda {
    position: relative;
    display: inline-block;
}

.menutenda:hover .dropdown-content {
    display: block;
}

.dropbtn {
    font-size: 16px;
    border: none;
    background-color: transparent;
}
  
.dropdown-content {
    opacity: 0;
    transition: opacity 0.5s 0.6s;

    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 15px;
    font-family: 'Quicksand';
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
  
.menutenda:hover .dropdown-content {
    opacity: 1;
    transition: opacity 0.3s;
}
  
.menutenda:hover .dropbtn {
    background-color: transparent;
}

nav input[type=text] {
    float: right;
    padding: 10px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    border-radius: 15px;
    font-family: 'Quicksand';
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    background: #CBA090;
    z-index: 1;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.nav-icons img {
    width: 25px;
    margin-left: 30px;
    cursor: pointer;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
}

.col-1, col-2 {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-2 {
    background: #FCF4EC;
    padding-top: 8%;
    position: relative;
}

.col-1 {
    padding-left: 8%;
}

.col-1 h1 {
    font-size: 74px;
    line-height: 100px;
    margin-bottom: 5px;
}

.col-1 h2 {
    font-size: 35px;
    margin-top: 60px;
    font-weight: 500;
    font-family: 'Oswald';
}

.esplora {
    display: inline-block;
    width: fit-content;
    padding: 18px 50px;
    background: #CBA090;
    border: none;
    margin: 0 30px 0 0;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.feature-img {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.feature-img img {
    width: 70%;
    transform: rotate(-20deg);
}

.col-2 h2 {
    position: absolute;
    left: 10%;
    top: 17%;
    font-size: 130px;
    opacity: 0.9;
    color: #e3d6c2;
}

.featuretitle {
    position: relative;
    z-index: 0;
    font-family: 'Oswald';
}

.featuredesc {
    color: #640C0C;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 25px;
}

footer {
    text-align: left;
    padding: 30px 8%;
    background-color: #CBA090;
    color: white;
    font-family: 'Quicksand';
    font-size: 15px;
}

.titolointro2 {
    color: #e3d6c2;
}

.pintro {
    font-size: 20px;
    font-family: 'Quicksand';
}

.pintro2 {
    font-family: 'Oswald';
}

.bottoneintro {
    font-size: 25px;
    font-family: 'Quicksand';
    font-weight: bold;
}

.menutenda {
    position: relative;
    display: inline-block;
}

.menutenda:hover .dropdown-content {
    display: block;
}

.dropbtn {
    font-size: 16px;
    border: none;
    background-color: transparent;
}
  
.dropdown-content {
    opacity: 0;
    transition: opacity 0.5s 0.6s;

    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 15px;
    font-family: 'Quicksand';
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
  
.menutenda:hover .dropdown-content {
    opacity: 1;
    transition: opacity 0.3s;
}
  
.menutenda:hover .dropbtn {
    background-color: transparent;
}

nav input[type=text] {
    float: right;
    padding: 10px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    border-radius: 15px;
    font-family: 'Quicksand';
}

.vuoto3 {
    height: 130px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Quicksand';
    font-size: 15px;
}
  
.price {
    color: grey;
    font-size: 22px;
    font-family: 'Oswald';
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #640C0C;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 0 0 15px 15px;
    font-family: 'Oswald';
}

.card button:hover {
    opacity: 0.7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald';
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    background: #CBA090;
    z-index: 1;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.nav-icons img {
    width: 25px;
    margin-left: 30px;
    cursor: pointer;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
}

.col-1, col-2 {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-2 {
    background: #FCF4EC;
    padding-top: 8%;
    position: relative;
}

.col-1 {
    padding-left: 8%;
}

.col-1 h1 {
    font-size: 74px;
    line-height: 100px;
    margin-bottom: 5px;
}

.col-1 h2 {
    font-size: 35px;
    margin-top: 60px;
    font-weight: 500;
    font-family: 'Oswald';
}

.esplora {
    display: inline-block;
    width: fit-content;
    padding: 18px 50px;
    background: #CBA090;
    border: none;
    margin: 0 30px 0 0;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.feature-img {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.feature-img img {
    width: 70%;
    transform: rotate(-20deg);
}

.col-2 h2 {
    position: absolute;
    left: 10%;
    top: 17%;
    font-size: 130px;
    opacity: 0.9;
    color: #e3d6c2;
}

.featuretitle {
    position: relative;
    z-index: 0;
    font-family: 'Oswald';
}

.featuredesc {
    color: #640C0C;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 25px;
}

footer {
    text-align: left;
    padding: 30px 8%;
    background-color: #CBA090;
    color: white;
    font-family: 'Quicksand';
    font-size: 15px;
}

.titolointro2 {
    color: #e3d6c2;
}

.pintro {
    font-size: 20px;
    font-family: 'Quicksand';
}

.pintro2 {
    font-family: 'Oswald';
}

.bottoneintro {
    font-size: 25px;
    font-family: 'Quicksand';
    font-weight: bold;
}

.menutenda {
    position: relative;
    display: inline-block;
}

.menutenda:hover .dropdown-content {
    display: block;
}

.dropbtn {
    font-size: 16px;
    border: none;
    background-color: transparent;
}

.dropdown-content {
    opacity: 0;
    transition: opacity 0.5s 0.6s;

    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 15px;
    font-family: 'Quicksand';
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
  
.menutenda:hover .dropdown-content {
    opacity: 1;
    transition: opacity 0.3s;
}
  
.menutenda:hover .dropbtn {
    background-color: transparent;
}

nav input[type=text] {
    float: right;
    padding: 10px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    border-radius: 15px;
    font-family: 'Quicksand';
}

.vuoto3 {
    height: 130px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Quicksand';
    font-size: 15px;
}
  
.price {
    color: grey;
    font-size: 22px;
    font-family: 'Oswald';
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #640C0C;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 0 0 15px 15px;
    font-family: 'Oswald';
}
  
.card button:hover {
    opacity: 0.7;
}

.space1 {
    height: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    height: 800px;
}

.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}

.left-column img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
}
   
.left-column img.active {
    opacity: 1;
}

.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description span {
    font-size: 17px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}
  
.product-description p {
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

.product-color {
    margin-bottom: 30px;
}
   
.color-choose div {
    display: inline-block;
}
   
.color-choose input[type="radio"] {
    display: none;
}
   
.color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    margin: 0 25px 0 0;
}
   
.color-choose input[type="radio"]#red + label span {
    background-color: #C91524;
}
  
.color-choose input[type="radio"]#blue + label span {
    background-color: #314780;
  }
  
.color-choose input[type="radio"]#black + label span {
    background-color: #323232;
}
   
.color-choose input[type="radio"]:checked + label span {
    background-image: url(images/check-icn.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.cable-choose {
    margin-bottom: 20px;
}
   
.cable-choose button {
    border: 2px solid #E1E8EE;
    margin: 0 10px 0 0;
    border-radius: 15px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
}
   
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
    border: 2px solid #86939E;
    outline: none;
}
   
.cable-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
   
.cable-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
}
   
.cable-config a:before {
    content: "?";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
}

.product-price {
    display: flex;
    align-items: center;
}
   
.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}
   
.cart-btn {
    display: inline-block;
    background-color: #640C0C;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

.cart-btn:hover {
    background-color: #CBA090;
}

@media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
}
   
@media (max-width: 535px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
}

footer {
    text-align: left;
    padding: 30px 8%;
    background-color: #CBA090;
    color: white;
    font-family: 'Quicksand';
    font-size: 15px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald';
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    background: #CBA090;
    z-index: 1;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.nav-icons img {
    width: 25px;
    margin-left: 30px;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: left;
    padding: 30px 8%;
    background-color: #CBA090;
    color: white;
    font-family: 'Quicksand';
    font-size: 15px;
}

.menutenda {
    position: relative;
    display: inline-block;
}

.menutenda:hover .dropdown-content {
    display: block;
}

/* Dropdown Button */
.dropbtn {
    font-size: 16px;
    border: none;
    background-color: transparent;
}
  

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    opacity: 0;
    transition: opacity 0.5s 0.6s;

    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 15px;
    font-family: 'Quicksand';
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.menutenda:hover .dropdown-content {
    opacity: 1;
    transition: opacity 0.3s;
}
  
.menutenda:hover .dropbtn {
    background-color: transparent;
}

nav input[type=text] {
    float: right;
    padding: 10px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    border-radius: 15px;
    font-family: 'Quicksand';
}

.vuoto1 {
    height: 100px;
}

.vuoto3 {
    height: 130px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    height: 800px;
}

.left-column {
    width: 65%;
    position: relative;
    margin-top: 85px;
}

.right-column {
    width: 35%;
    margin-top: 60px;
    margin-left: 60px;
}

.carrellodesc p {
    font-family: 'Quicksand';
}

.carrellodesc h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}

.checkout {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.checkout span {
    font-size: 17px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.checkout h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}
  
.checkout p {
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

.metodi {
    margin-bottom: 20px;
}
   
.metodi button {
    border: 2px solid #E1E8EE;
    margin: 15px 10px 0 0;
    border-radius: 15px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
}
   
.metodi button:hover,
.metodi button:active,
.metodi button:focus {
    border: 2px solid #86939E;
    outline: none;
}
   
.pagamento {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
   
.pagamento a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
}
   
.pagamento a:before {
    content: "?";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
}

.product-price {
    display: flex;
    align-items: center;
}
   
.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}
   
.cart-btn {
    display: inline-block;
    background-color: #640C0C;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

.cart-btn:hover {
    background-color: #CBA090;
}

@media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
}
   
@media (max-width: 535px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
}

footer {
    text-align: left;
    padding: 30px 8%;
    background-color: #CBA090;
    color: white;
    font-family: 'Quicksand';
    font-size: 15px;
}


